<div>
    <h2>Add Data</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="id">Id:</label>
        <input type="text" name="id" [(ngModel)]="gun.id" id="id" required>
      </div>
      <div>
        <label for="make">Make:</label>
        <input type="text" name="make" [(ngModel)]="gun.make" id="make">
      </div>
      <div>
        <label for="serialNumber">Serial Number:</label>
        <input type="text" name="serialNumber" [(ngModel)]="gun.serialNumber" id="serialNumber">
      </div>
      <div>
        <label for="type">Type:</label>
        <input type="text" name="type" [(ngModel)]="gun.type" id="type">
      </div>
      <div>
        <label for="logNumber">Log Number:</label>
        <input type="number" name="logNumber" [(ngModel)]="gun.logNumber" id="logNumber">
      </div>
      <button type="submit">Add Data</button>
    </form>
  </div>